@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes slideInFromBottom {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  

  .animate-slide-in-from-bottom {
    animation: slideInFromBottom 1s ease-in-out;
  }
  
  body{
    font-family: 'DM Sans', sans-serif;
  }